{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <section id="about">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <h2>About this page</h2>
                  <p class="lead">이 페이지는 wordcounter입니다. 작성한 글을 단어 단위로 어떻게 이루어 졌는지 파악할 수 있습니다. 
                      단어의 수를 셀 수 있고 총 몇개의 단어로 이루어져 있는 지 알 수 있습니다. 
                  </p>
                  <ul>
                    <li>텍스트 에리어에 글을 입력합니다.</li>
                    <li>작성후 Count를 클릭합니다. </li>
                    <li>결과 화면으로 넘어가지면서 단어의 구성을 볼 수 있습니다. </li>
                    <li>단어의 수를 확인하면 끝입니다. </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
</html>